:root {
    --gradiente: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    --rojoRegistro: #D11514;
    --verdeRegistro: #15BD12;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;;
}

/* Header */

body {
    height: 100vh;
    background-image: url('Imágenes/fondo.jpg');
}

#logo {
    width: 100%;
    border-radius: 15px;
}

#alogo {
    margin-left: 10px;
    margin-top: 10px;
    height: 84%;
}

#header {
    display: grid;
    grid-template-columns: 10% 90%;
    text-align: center;
    align-items: center;
    font-size: 30px;
}

#inicio {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, auto);
    margin-left: 30px;
    background: var(--gradiente);
    border-radius: 15px;
    margin-right: 20px;
    padding: 6.5px 15px 5px 15px;
    height: 60px;

}

#inicio a {
    text-decoration: none;
    color:grey;
    padding: 2px;
}
#inicio li {
    transition: transform;
    transition-duration: 1s;
}

#inicio li:hover {
    background: var(--gradiente);
    border-radius: 15px;
    transform: scale(1.05);
}


/* termina header */

/* main */

#inicio-main h1 {
    margin: 40px;
    font-size: 35px;
    display: inline-block;
    background: var(--gradiente);
    border-radius: 15px;
    color: grey;
    padding: 10px;
    padding-top: 0;
}

.cajas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 30px;
    margin-top: 0;
    height: 65%;
    background-color: white;
    grid-gap: 20px;
    background-image: url(Imágenes/fondo.jpg);
}

.cajas div {
    border-radius: 15px;
    height: 100%;
    text-align: center;
    box-shadow: -8px 13px 35px 2px rgba(133, 133, 133, 1);
    transition-duration: .7s;
}

.cajas div a {
    height: 100%;
    display: block;
    text-decoration: none;
    background-color: white;
    border-radius: 15px;
    padding-top: 120px;
    font-size: 40px;
    color: white;
    background-image: url(Imágenes/estrellas.jpg);
}

.cajas div:hover {
    transform: scale(1.05);
}

#headerYfooter {
    height: 100vh;
    display: grid;
    grid-template-rows: 480px 135px;
    height: 550px;
}

/* Comienza el footer */

footer {
    padding-left: 20px;
    margin: 30px 15px 0 15px;
    background: var(--gradiente);
    border-radius: 15px;
    color:grey;
    display: grid;
    grid-template-columns: auto auto auto;
}

footer h2 {
    font-size: 50px;
}

footer li {
    list-style: none;
    font-size: 20px;
}

#contacto b {
    margin-left: 30px;
    font-weight: 100;
}

#logodewpp {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    height: 25px;
    margin-top: 3px;
}

#misredes {
    display: grid;
    grid-template-columns: 30px 50px;
    grid-template-rows: 35px 30px 25px;
    grid-template-areas:    "titulo titulo"
                            "insta face"
                            "twitter linke";
    justify-content: center;
}

#misredes h3 {
    grid-area: titulo;
}

#face {
    grid-area: face;
}

#insta {
    grid-area: insta;
}

#twitter {
    grid-area: twitter;
}

#linke {
    grid-area: linke;
}

#misredes img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition-duration: .4s;
}

#misredes img:hover {
    transform: scale(1.6);
} 


/* Menu de hamburguesa :P */

#comienzaH {
    display: none;
}

.menu-btn {
    float: right;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-right: 55px;
    z-index: 100;
}

.menu-btn__burger {
    width: 50px;
    height: 6px;
    background: rgb(69, 27, 65);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .2s ease-in-out;
    margin-left: 15px;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: rgb(69, 27, 65);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translate(-25px, -16px);
}

.menu-btn__burger::after {
    transform: translate(-25px, 16px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(15px, -15px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(15px, 15px);

}

.menu-btn ul {
    background: var(--gradiente);
    border-radius: 15px;
}

 .menu-btn a {
    text-decoration: none;
    color: gray;
    display: block;
    border-bottom: 2px solid black;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

#sinBorde {
    border-bottom: 0px;
}

.menu-btn a:hover {
    background-color:rgb(35, 5, 56);
    border-radius: 15px;
    transition: background-color .5s ease;
}

.menu-btn ul li {
    display: none;    
}

.menu-btn.open li {
    display: block;
}

.menu-btn.open ul {
    margin-top: 16em;
    transition: all 0.3s ease-in-out;    
    position: absolute;
}


/* Comienza Ingrese */

.ingrese-login-contenedor {
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingrese-form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: var(--gradiente);
    border-radius: 15px;
    color: grey;
    box-shadow: 0 15px 25px rgba(84, 3, 109, 0.62);
}

 .ingrese-form::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(152, 9, 196, 0.08);
    transform: skewX(-27deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
}

.ingrese-form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: #9594a0;
}

.ingrese-form .ingrese-input-grupo {
    position: relative;
}

.ingrese-form .ingrese-input-grupo input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
}

.ingrese-form .ingrese-input-grupo label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;
}

.ingrese-form .ingrese-input-grupo input:valid + label,
.ingrese-form .ingrese-input-grupo input:focus + label {
    transform: translateY(-18px);
    color: #ff652f;
    font-size: .8rem;
}

.ingrese-submit-btn {
    display: inline;
    border: none;
    outline: none;
    background: #ff652f;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
}

#olvido{
    color: inherit;
    text-decoration: none;
}

#olvido-contraseña {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40%;
    left: 0;
    right: 0;
    height: 0;
    z-index: 10;
    background-color: #fff;
    opacity: 0;
    transition: 0.6s;
}

#olvido-contraseña:target {
    height: 100%;
    opacity: 1;
    top:0;
}

#close {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}

#submitEspecial{
    margin-left: 100px;
}

/*Comienza Registro */

#registro-main {    
    display: flex;
    align-content: center;
    justify-content: center;    
    height: 60vh;    
    margin-bottom: 3em;

}

#registro-container{
    background: var(--gradiente);
    color: gray;
    border-radius: 15px;
    width: 30em;
    box-shadow: 0 15px 25px rgba(84, 3, 109, 0.62);
    position: absolute;
}

#registro-container img{
    border-radius: 50%;
    height: 15px;
    position: absolute;
    margin: 5px -24px;
    display: inline-block;
    margin-left: 13em;
}

#registro-container h2{
    margin-top: 15px;
    margin-left: 130px;
    font-size: 35px;
}

#registro-container small{
    margin-left: 15em;
    font-size: 15px;
    color:transparent;
    cursor:default;
    user-select: none;
    display: inline-block;
}

#registro-container form{
    margin-left: 55px;
}

#registro-container div {
    margin-top: 15px;
    margin-bottom: 25px;
}

#registro-container label{
    display: inline-block;
    transition: .3s ease-out;
    pointer-events: none;
    position: absolute;
    margin-right: 200px;
}

#registro-container input{
    position: absolute;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 200px;
    outline: none;
    color: grey;
    margin-top: 5px;
}

.animacion-registro{
    transform: translateY(-20px);
    color: #be1ebe;
    font-size: .8rem;
}

#registro-container button {
    display: block;
    border: none;
    outline: none;
    background: #ff652f;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 30px;
    margin-bottom: 30px;
}

#registro-container img {
    display: none;
}

/*Si introducimos valores erroneos: */

#registro-container .inputError {
    color: var(--rojoRegistro);
    border-color: var(--rojoRegistro);
}
#registro-container .wrongT{
    display: inline;
} 

#registro-container .small-error {
    color: gray;
}

/*Si introducimos valores correctos: */

#registro-container .inputCorrecto {
    color: var(--verdeRegistro);
    border-color: var(--verdeRegistro);
}

#registro-container .rightT {
    display: inline;
}


/* Comienza agenda */
#main-agenda {
    display: grid;
    grid-template-columns: auto 80% auto;
    grid-template-areas: "algo agenda algoo";
    height: 80%;
}
#agenda{
    grid-area: agenda;
    background: var(--gradiente);
    border-radius: 15px;
    width: 100%;    
    text-align: center;
}

.input{ 
    margin-top: 25px;
    width: 200px;
}

/*Responsive */

@media (min-width: 700px) and (max-width: 1000px) {
    #comienzaH {
        display: inline;
    }

    #inicio {
        display: none;
    }

    #header {
        display: grid;
        grid-template-columns: 1fr 5fr;
    }

    main h1 {
        margin-bottom: 40px;
    }

    .cajas {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: auto auto;
        height: 0;
        justify-content: center;
        width: 40%;
        margin: auto;
    }

    .cajas div a {
        padding: 25px;
        height: 150px;
        width: 350px;
        font-size: 35px;
        text-align: center;
        padding-top: 40px;
    }

    #headerYfooter {
        grid-template-rows: 480px 100px;
    }

    footer {
        height: 90px;
    }
   
    #misredes {
        display: grid;
        grid-template-columns: repeat(4, 35px);
        grid-template-rows: 35px 30px;
        grid-template-areas:    "titulo titulo titulo titulo"
                                "insta face twitter linke";
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 700px) {
    #comienzaH {
        display: inline;
    }

    #inicio{
        display: none;
    }
    
    #header {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    #logo {
        width: 100%;
    }

    main h1{
        display: block;
        width: auto;
        text-align: center;
        margin-top: 20px;
    }

    .cajas {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat (4, 50px);
        height: 20%;
    }

    .cajas div a {
        padding: 0px 0px 5px 0px;
        font-size: 35px;
    }

    footer {
        margin: 5px 15px 15px 15px;
    }

    #contacto h3 {
        margin-top: 10px;
    }

    #misredes h3 {
        margin-top: 10px;
    }

    #misredes {
        display: grid;
        grid-template-columns: repeat(4, 35px);
        grid-template-rows: 45px 30px;
        grid-template-areas:    "titulo titulo titulo titulo"
                                "insta face twitter linke";
        justify-content: center;
        text-align: center;        
        margin-bottom: 15px;
    }
}
